/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    padding-bottom: 200px; 
}

a {
    color: #757575;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.background-container {
    position: relative; 
    height: 100vh;
    border-bottom: 8px solid #222;
    display: flex; 
    flex-direction: column; /* Organiza header e main em coluna */
}

.background-container::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Coloca o fundo atrás do conteúdo */

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.9) 100%), url('images/image.png');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
/* Cabeçalho e Logo */
.header {
    padding: 20px 50px;
}

/* Logo NETFLUXO */
.logo {
    margin: 0; 
}

/* Define o tamanho da imagem do logo */
.logo img {
    width: 160px; 
    height: auto; 
    display: block; 
}

/* Container do Formulário de Login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
}

.login-box {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 60px;
    border-radius: 4px;
    width: 100%;
    max-width: 450px;
}

/* Usando Flexbox para espaçamento */
.login-box form {
    display: flex;
    flex-direction: column;
    gap: 16px; 
}

.login-box h2 {
    font-size: 2rem;
    margin-bottom: 28px;
}

.input-group input {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
}

/* Estilo de foco para os inputs */
.input-group input:focus {
    outline: 2px solid #FFA500;
}

#btn-login {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 4px;
    background-color: #F88335;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.login-help a {
    color: #b3b3b3;
    font-size: 0.8rem;
    text-align: center;
    display: block;
}

/* Estilo para botão secundário */
.btn-secondary {
    background-color: rgba(117, 117, 117, 0.4); /* Cinza com transparência */
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #757575;
}
.btn-secondary:hover {
    background-color: rgba(117, 117, 117, 0.6);
    text-decoration: none;
}

.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: #b3b3b3;
}

.login-options label {
    margin-left: 4px;
}

.signup {
    margin-top: 24px; 
    color: #737373;
}

.signup a {
    color: #fff;
}

/* Rodapé */
.footer {
    padding: 70px 15%;
    color: #757575;
}

.footer p {
    margin-bottom: 30px;
}

.footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.footer-cols ul {
    list-style-type: none;
}

.footer-cols ul li {
    margin-bottom: 16px;
}

.footer-cols a {
    font-size: 0.8rem;
}

.language-selector {
    margin-top: 20px;
}

#language {
    background-color: #000;
    color: #757575;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 2px;
}